{% extends "../estructura/templatefinal.html" %}
{% block cabecera %}
{% endblock %}

{% block contenido %}
    <h1>Lista de Procesadores</h1>

    {% for procesador in procesadores %}
        {% if procesador and procesador.hilos %} 
        {% comment %} Existen hilos y ademas la variable procesador? {% endcomment %}
            {% include "../estructura/procesadores_for.html" %}
        {% else %}
            <p>Este procesador no tiene información completa sobre los hilos.</p>
        {% endif %}
    {% endfor %}

    <a href="{% url 'inicio' %}">Regresar a la página de inicio</a>
{% endblock %}

</body>
</html>
